{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

    {{ userId }}
    <p> ID: {{ app.user.id }}</p>
    <p>Nom : {{ app.user.username }}</p>
    <h3>Ajout de l'eleve : </h3>
    <div class="well">

        {{ form(form) }}
    </div>

{% endblock %}
