{% extends 'base.html.twig' %}
{% block title %}Modification/Ajout{% endblock %}
{% block body %}
    <div class="wrapper">
    <div class="inner">
    <h2>Modifier/Ajouter une entreprise</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br><button>Envoyer</button>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}