<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>{% block title %}Bienvenue sur QuizOPlan !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    {% endblock %}
</head>
<body class="is-preload">
{% block nav %}
    <nav id="main-nav" class="container navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
        <ul class="navbar-nav">
            {#<li class="nav-item {% if mainNavHome is defined %}active{% endif %}">#}
            {#<a class="nav-link" href="{{ path('index') }}">Accueil</a>#}
            </li> {% if is_granted('ROLE_USER') %}
                <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('list_entreprise') }}">Espace Entreprise</a>
                </li>
            {% endif %}
            </li> {% if is_granted('ROLE_PROF') %}
                <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('list_entreprise') }}">Espace Entreprise</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="inner">
                    <h2>Menu Principal</h2>
                    <p>Vous êtes connecté en Admin <span class="icon fa-file"></span></p>

                    <h3>Que choisissez-vous ? </h3>
                    <br class="well">
                    <a href={{ path('liste_eleve') }}><button>Liste des élèves</button></a>
                    <a href={{ path('liste_professeur') }}><button>Liste des professeurs</button></a>
                    <a href={{ path('list_entreprise') }}><button>Liste des entreprises</button></a>
                </div>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')  %}
                <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                </li>
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning"  role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>