{% extends 'base.html.twig' %}

{% block title %}Liste Entreprise!{% endblock %}
{% block body %}

    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-file"></span></div>
                <h2>Affichage des entreprises</h2>
                <p>A partir de la base de données.</p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Liste des entreprises</h3>
                    <h4>
                        <span class="icon fa-user"></span>
                        <a href ="{{ path('add_entreprise') }}">Ajouter une entreprise</a>

                    </h4>

                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Ville</th>
                                <th>Code Postal</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Activité</th>
                                <th>Active</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                                <th>Stage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in em %}
                                <tr>
                                    <td>{{ p.nom }}</td>
                                    <td>{{ p.ville }}</td>
                                    <td>{{ p.cp }}</td>
                                    <td>{{ p.adresse }}</td>
                                    <td>{{ p.tel }}</td>
                                    <td>{{ p.activite }}</td>
                                    <td>{{ p.active }}</td>
                                    <td>
                                        <a href="{{ path('update_entreprise', {'id': p.id }) }}"><span class="icon fa-edit"></span></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_entreprise', {'id': p.id }) }}"
                                           onClick="return(confirm('Êtes-vous sûr de vouloir supprimer {{p.nom }}?'));"
                                        ><span class="icon fa-eraser"></span></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('add_stage', {'id': p.id }) }}"><span class="icon fa-edit"></span></a>
                                    </td>
                                </tr>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </section>
            </div>
        </div>
    </section>
    </div>
{% endblock %}

