{% extends 'base.html.twig' %}

{% block title %}Liste Professeurs!{% endblock %}
{% block body %}

    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-file"></span></div>
                <h2>Liste des professeurs</h2>
                <p>A partir de la base de données.</p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Liste des professeurs</h3>
                    <h4>
                        <span class="icon fa-user"></span>
                        <a href ="{{ path('add_professeur') }}">Ajouter un professeur</a>
                    </h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Pseudo</th>
                                <th>MotDePasse</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in em %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.prenom }}</td>
                                    <td>{{ p.nom }}</td>
                                    <td>{{ p.pseudo}}</td>
                                    <td>{{ p.motdepasse }}</td>
                                    <td>
                                        <a href="{{ path('edit_professeur', {'id': p.id }) }}"><span class="icon fa-edit"></span></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_professeur', {'id': p.id }) }}"
                                           onClick="return(confirm('Êtes-vous sûr de vouloir supprimer {{p.nom }}?'));"
                                        ><span class="icon fa-eraser"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
    </div>
{% endblock %}