{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    <h3>Modifier l'eleve :<span class="icon fa-edit"></span></h3>
    <div class="wrapper">
        <div class="inner">
            <section>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Pseudo</th>
                            <th>MotDePasse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in em %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>
                                    <a href="{{ path('maj_prenom',{ 'id': p.id ,'prenom': p.prenom})}}">{{ p.prenom }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('maj_nom', {'id': p.id, 'nom':p.nom }) }}">{{ p.nom }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('maj_pseudo', {'id': p.id, 'pseudo':p.pseudo }) }}">{{ p.pseudo }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('maj_mdp', {'id': p.id, 'motDePasse':p.motDePasse }) }}">{{ p.motDePasse }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}