{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    <h3>Modification du paramètre de l'eleve : </h3>
    <div class="well">

        {{ form(form) }}
    </div>

{% endblock %}