{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <section id="wrapper" xmlns="http://www.w3.org/1999/html">
    <header>
        <div class="inner">
            <h2>Menu Principal</h2>
            <p>Vous êtes connecté en Admin <span class="icon fa-file"></span></p>

            <h3>Que choisissez-vous ? </h3>
            <br class="well">
                <a href={{ path('liste_eleve') }}><button>Liste des élèves</button></a>
                <a href={{ path('liste_professeur') }}><button>Liste des professeurs</button></a>
                <a href={{ path('list_entreprise') }}><button>Liste des entreprises</button></a>
            </div>
        </div>
    </header>
    </section>

{% endblock %}