{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %} {% block body %}
    <header id="header"><h1>QuizOPlan</h1>
        <p>Template pour la connexion utilisateur.</p></header>
    <form id="signup-form" method="post" action="#"><input type="email" name="email" id="email"
                                                           placeholder="Addresse Email"/> <input type="submit"
                                                                                                 value="Validation"/></form>
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; QuizOPlan.</li>
            <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
    <script src="{{asset('assets/js/main.js') }}"></script> {% endblock %}